* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#container {
 background-color:steelblue;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

.btn-style {
    padding: 2rem;
    border: none;
    color: white;
    background-color:green;
    border-radius: 1rem;
    transition: ease-in-out 0.3s;
    position: absolute;
}

.btn-style:hover {
    cursor: pointer;
    background-color: goldenrod;
}

.hide {
    display: none;
}